body {
    background-image: url(/images/SRTP-abstract-background-06.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif !important;
}

h1, h2 {
    font-family: comrade, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 4vh !important;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/* class styles */

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    margin-top: 0px;
    
}

.intro {
    text-align: center;
    font-size: 2vh;
    padding-bottom: 30px;
}

.jumbotron {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: black 3px !important;
    padding: 30px !important;
}

.title, .city {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    color: #e69a27;
    -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    50% {color: #feb822;}
  }
  
  @keyframes mymove {
    50% {color: #feb822;}
  }

